# .yarn files
.yarn/cache
.yarn/versions
.yarn/install-state.gz

# Turbo
.turbo

# dependencies
node_modules

# Intellij IDEA artifacts
.idea/

# spec workflow mcp from Uniswap
.spec-workflow/
.claude/

# OS files
.DS_Store

# Build and test artifacts
build/
coverage/
