# Permit2 SDK
[submodule "sdks/permit2-sdk/permit2"]
	path = sdks/permit2-sdk/permit2
	url = https://github.com/Uniswap/permit2
[submodule "sdks/permit2-sdk/lib/forge-std"]
	path = sdks/permit2-sdk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sdks/permit2-sdk/lib/solmate"]
	path = sdks/permit2-sdk/lib/solmate
	url = https://github.com/transmissions11/solmate

# Universal Router
[submodule "sdks/universal-router-sdk/lib/forge-std"]
	path = sdks/universal-router-sdk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sdks/universal-router-sdk/lib/solmate"]
	path = sdks/universal-router-sdk/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "sdks/universal-router-sdk/lib/permit2"]
	path = sdks/universal-router-sdk/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "sdks/universal-router-sdk/lib/universal-router"]
	path = sdks/universal-router-sdk/lib/universal-router
	url = https://github.com/Uniswap/universal-router
[submodule "sdks/universal-router-sdk/lib/openzeppelin-contracts"]
	path = sdks/universal-router-sdk/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = v4.8.0
