{
  "branches": ["master"],
  "repository": "git@github.com:XSwapProtocol/sdks.git",
  "plugins": ['@semantic-release/commit-analyzer', '@semantic-release/release-notes-generator', '@semantic-release/npm', '@semantic-release/github'],
  debug: true
}
