name: Release

on:
  push:
    branches:
      - main
      - beta

jobs:
  release:
    name: Release
    environment:
      name: production
    runs-on: 
      group: npm-deploy
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
        with:
          submodules: "true"
          fetch-depth: 2

      - name: Setup Node
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7
        with:
          cache: yarn
          node-version: 18

      - name: Install dependencies
        run: yarn --immutable

      - name: Build SDK's
        run: yarn g:build

      - name: Load Secrets
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0
        with:
          # Export loaded secrets as environment variables
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          NPM_TOKEN: op://npm-deploy/npm-runner-token/secret

      - name: Release Needed SDK's
        env:
          NPM_CONFIG_USERCONFIG: /dev/null
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ env.NPM_TOKEN }}
        run: yarn g:release
